<div class="card">
    <div class="card-header">
      <h1 class="title">{{title}}</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Sub-title </h5>
      <p class="card-text">Some very important information about this app.</p>
    </div>
    <br>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">User Name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">   
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">     
    </div>
    <div><button type="button" class="btn btn-outline-primary">Sign In</button></div>
    <br>
    <br>
    <br>
    <a href="#" class="card-link">Another link</a>
  </div>